<head>
    <title>About Us</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/media-queries.css">
</head>
<body>
    <%- include('header') -%>
   <div class="about-grid">
      <div class="image-container">
         <img src="images/person-img.png" alt="person-img">

         <div class="text-center">
            <h2>The Yogesh Vishwakarma</h2>
            <p>Business Trainer | Manufacturer</p>
        </div>

         <div class="links-container">
            <div class="links-info">
                <a class="hover-link" href="https://www.youtube.com/@TheYOGESHVISHWAKARMA"><i class="fa-brands fa-youtube"></i></a>
            </div>
    
            <div class="links-info">
                <a class="hover-link" href="https://twitter.com/theYogesh_Vish"><i class="fa-brands fa-twitter"></i></a>
            </div>
    
            <div class="links-info">
                <a class="hover-link" href="https://www.instagram.com/theyogeshvishwakarma/"><i class="fa-brands fa-instagram"></i></a>
            </div>
         </div>
         <a href="tel:+919106766593" class="primary-button get-started-btn"
            >Contact</a>
      </div>

  
      <div class="about-container">
        <div class="text-center">
            <h2>About Us</h2>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quos aspernatur magnam ratione? Cumque voluptatibus, ut maiores quam quidem placeat tempore assumenda dolorem iusto unde. Incidunt natus saepe repellat. Est.</p>
      </div>
   </div>
   <%- include('footer') -%>
<script
      src="https://kit.fontawesome.com/c1fc3d2826.js"
      crossorigin="anonymous"
    ></script>
</body>
</html>