<head>
    <title>Formulation Book</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/media-queries.css">
</head>
<body>
    <%- include('header') -%>
   <div class="about-grid">
      <div class="image-container book">
         <img src="/images/book cover.png" alt="person-img">

        <div class="location-container">
            <div class="text-center">
                <h2>Location</h2>
            </div>
            <div class="location-info">
                <i class="fas fa-map-marker-alt"></i>
                <p>Narsinghpur - 487001 | Madhya Pradesh | India</p>
            </div>
            <div class="location-info">
                <i class="fas fa-phone"></i>
                <p>+91 9106766593</p>
            </div>
   
            <div class="location-info">
                <i class="fas fa-envelope"></i>
                <p>yogeshvish2010@gmail.com</p>
            </div>
         </div>
      </div>

  
      <div class="about-container">
        <div class="text-center">
            <h2>250 Formulation Book</h2>
        </div>
        <p>
            These are the highlighted product which is inside the 250
            Formulation book.
          </p>
          <ul id="Highlights-points">
            <li>Cleaning Products</li>
            <li>Cosmetic Products</li>
            <li>Beauty Products</li>
            <li>Spa & Parlour Products</li>
            <li>Car care Products</li>
            <li>Saloon Products</li>
            <li>Industrial Product</li>
            <li>Housekeeping Products</li>
          </ul>
        <a href="#" class="primary-button get-started-btn">Purchase</a>
      </div>
   </div>
   <%- include('footer') -%>
<script
      src="https://kit.fontawesome.com/c1fc3d2826.js"
      crossorigin="anonymous"
    ></script>
</body>
</html>