<!DOCTYPE html>
<html lang="en">
<head>
    <title>Header</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/media-queries.css" />
</head>
<body>
     <!-- top banner -->

    <div class="top-banner">
      <div class="container">
        <div class="small-bold-text banner-text">
          🥳 New 250 Formula E-Book: Contact And Get The Book
        </div>
      </div>
    </div>

    <!-- nav bar -->
    <nav>
      <div class="container main-nav flex">
        <a href="/" class="company-logo">
          <img src="images/logo-nav.png" alt="company logo" />
        </a>
        <div class="nav-links" id="nav-links">
          <ul class="flex">
            <li><a href="/" class="hover-link">Home</a></li>
            <li><a href="gallery" class="hover-link">Gallery</a></li>
            <li><a href="contact" class="hover-link">Contact</a></li>
            <li><a href="about" class="hover-link">About</a></li>
            <li><a href="login" class="hover-link secondary-button">Sign in</a></li>
            <li><a href="register" class="hover-link primary-button">Sign up</a></li>
          </ul>
        </div>
        <a href="#" class="nav-toggle hover-link" id="nav-toggle">
          <i class="fa-solid fa-bars"></i>
        </a>
      </div>
    </nav>
</body>
</html>