<head>
    <title>Training</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/media-queries.css">
</head>
<body>
    <%- include('header') -%>
   <div class="about-grid">
      <div class="image-container">
         <img src="/images/2019-2-Training.jpg" alt="person-img">

        <div class="location-container">
            <div class="text-center">
                <h2>Location</h2>
            </div>
            <div class="location-info">
                <i class="fas fa-map-marker-alt"></i>
                <p>Narsinghpur - 487001 | Madhya Pradesh | India</p>
            </div>
            <div class="location-info">
                <i class="fas fa-phone"></i>
                <p>+91 9106766593</p>
            </div>
   
            <div class="location-info">
                <i class="fas fa-envelope"></i>
                <p>yogeshvish2010@gmail.com</p>
            </div>
         </div>
      </div>

  
      <div class="about-container">
        <div class="text-center">
            <h2>Training Program</h2>
        </div>
        <p>Training program in cosmetic cleaning and housekeeping product formulation.</p>
        <p>Duration - 6-7 Hour</p>
        <p>Date - 17 December</p>
        <a href="#" class="primary-button get-started-btn">Enroll Now</a>
      </div>
   </div>
   <%- include('footer') -%>
<script
      src="https://kit.fontawesome.com/c1fc3d2826.js"
      crossorigin="anonymous"
    ></script>
</body>
</html>